#LOGIC IS INVERTED
*
!.gitignore
!.gitmodules
!README.md
!requirements.txt
!LICENSE

#Definition of Folder Structure for tracking
!image_processing/*
!Models/Sign_recognition/README.md
!Models/Text_recognition/README.md
!Models/Text_detection/README.md
!Dataset/Utils/label_extractor.py

!utils/utils.py



