#LOGIC IS INVERTED
*
!.gitignore
!.gitmodules
!README.md
!requirements.txt
!LICENSE

#Definition of Folder Structure for tracking
!image_processing/*
!image_processing/image_main.py
!image_processing/sign_recognition.py
!image_processing/text_detection.py
!image_processing/text_recognition.py
!Models/Sign_recognition/README.md
!Models/Text_recognition/README.md
!Models/Text_detection/README.md
!Dataset/Utils/label_extractor.py

!utils/utils.py



