#LOGIC IS INVERTED
*
!*/
!.gitignore
!.gitmodules
!README.md
!requirements.txt
!LICENSE

#Definition of Folder Structure for tracking
!image_processing/*.py
!Models/Sign_recognition/README.md
!Models/Text_recognition/README.md
!Models/Text_detection/README.md
!Dataset/Utils/label_extractor.py
!utils/MixNet/

!utils/utils.py



